[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "thirdparty/glad"]
	path = thirdparty/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
